.contanier {
  height: auto;
  background-color: rgb(240, 236, 247);
}

.dashboard_contanier {
  display: flex;
  height: auto;
  background-color: purple;
  border-radius: 5px;
  margin-top: 2rem;
}

.dashboard_cards {
  width: 20%;
  margin-left: 4%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 50%;
  padding: 1.5rem;
  background-color: whitesmoke;
  border-radius: 10px;
}

.card_icons {
  font-size: 1.5rem;
}

.cards_title {
  font-size: 1.2rem;
  font-weight: bold;
}

.charts {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s; /* Animation */
}

.charts:hover {
  transform: scale(1.6);
}

.chart_span {
  padding-right: 10px;
  font-size: 25px;
  font-weight: bold;
}

.myteam_container {
  display: flex;
}
