.header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: white;
  background-image: linear-gradient(270deg, #833eb1 0%, #4239c0 54%);
  padding: 0 5%;
}
.leftHeader {
  display: flex;
}
.purple {
  color: #ff2222;
}
.orange {
  color: rgb(136, 255, 0);
}
.rightHeader {
  display: flex;
  list-style: none;
}
.rightHeader ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightHeader ul li {
  display: flex;
  margin: 0.5rem;
}
.imgContainer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}
